# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs or temporary files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
